<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">月例点検</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="scan()">Scan</ion-button>
    <ion-button (click)="clear()">Clear</ion-button >
    <div class="scan-result">{{scannedText}}</div>
    <div>{{format}}</div>
  </div>
</ion-content>
